@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* GENERAL STYLING */
.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding: 5%;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
body{
    font-family: 'Outfit', sans-serif;
}
img{
    width: 12px;
}

/* BODY STYLING */
.main-wrapper{
    background: hsl(217, 54%, 11%);
    height: 820px;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 7%;
}
.main-wrapper .card-wrapper{
    background: hsl(216, 50%, 16%);
    height: 80vh;
    padding: 8%;
    border-radius: 15px;
}
.main-wrapper .card-wrapper .img-wrapper{
    height: 55%;
    width: 100%;
}
.main-wrapper .card-wrapper .img-wrapper .nft-img{
    background-image: url('./images/image-equilibrium.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.main-wrapper .card-wrapper .details{
    padding-top: 5%;
    border-bottom: 2px solid hsl(215, 32%, 27%);;
}
.main-wrapper .card-wrapper .details .item-name{
    font-size: 32px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}
.main-wrapper .card-wrapper .details .item-description{
    padding-top: 3%;
    font-size: 22px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}
.main-wrapper .card-wrapper .details .split{
    padding-top: 5%;
    padding-bottom: 5%;
}
.main-wrapper .card-wrapper .details .split .item-price{
    color: hsl(178, 100%, 50%);
    text-align: left;
    font-weight: 400;
}
.main-wrapper .card-wrapper .details .split .item-duration{
    float: right;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}
.main-wrapper .card-wrapper .creator{
    padding-top: 10%;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.main-wrapper .card-wrapper .creator .avatar-img{
    background-image: url("./images/image-avatar.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
}
.main-wrapper .card-wrapper .creator .text-box{
    padding-left:5% ;
    font-size: 20px;
    width: 85%;
}
.main-wrapper .card-wrapper .creator .text-box .maker{
    font-weight: 400;
    color:hsl(215, 51%, 70%);
    padding-right: 1%;
}
.main-wrapper .card-wrapper .creator .text-box .maker .name{
    color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 375px) {
    .main-wrapper{
        background: hsl(217, 54%, 11%);
        height: 82vhx;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 25%;
        position: relative;
    }
    .main-wrapper .card-wrapper .details .item-name{
        font-size: 28px;
        font-weight: 600;
        color: hsl(0, 0%, 100%);
    }
    .main-wrapper .card-wrapper .details .item-description{
        padding-top: 3%;
        font-size: 18px;
        font-weight: 300;
        color: hsl(215, 51%, 70%);
    }
    .main-wrapper .card-wrapper .details .split{
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 20px;
    }
    .attribution{
        position: absolute;
        bottom: 0%;
    }
}
